* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5 {
  font-weight: normal;
}

.example {
  height: 100vh;
}

.doc-header {
  background: #111111;
}

.doc-sider {
  width: 200px;
  padding: 8px;
  border-right: 1px solid #ddd;
  li {
    list-style: none;
    margin-top: 8px;
    a {
      padding: 8px;
      margin: 0 -8px;
      text-decoration: none;
      color: black;
      display: block;
      &:hover {
        color: #0074D9;
      }
      &.active {
        color: white;
        background: #0074D9;
      }
    }
  }
}

.doc-content {
  padding: 8px;
}

.doc-footer {
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: .8em;
  padding: 16px 0;
  color: #666;
}

pre {
  font-size: 14px;
}

.demo {
  padding: 16px 0;
}
